---
const { prev, next } = Astro.props.data;
import { getLanguageFromPath } from "~/config.js";
const locale = getLanguageFromPath(Astro.url);
---

<div class="flex flex-wrap justify-between gap-4 pt-4 pb-10">
  {prev && (
    <a href={`/${locale}/blog/${prev.slug}`} class="w-64 inline-flex items-center rounded-md border border-transparent bg-primary-600 px-3 py-2 text-sm font-medium leading-4 text-white shadow-sm hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 no-underline">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="-ml-0.5 mr-2 h-4 w-4"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" /></svg>
      <span class="truncate" set:html={prev.title.rendered}></span>
    </a>
  )}
  {next && (
    <a href={`/${locale}/blog/${next.slug}`} class="w-64 inline-flex items-center rounded-md border border-transparent bg-primary-600 px-3 py-2 text-sm font-medium leading-4 text-white shadow-sm hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 no-underline">
      <span class="truncate" set:html={next.title.rendered}></span>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="-mr-0.5 ml-2 h-4 w-4"><path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" /></svg>
    </a>
  )}
</div>