---

import CartButton from "./Header/CartButton.svelte"
import { LanguageSwitcher } from "@dbs/ui"
import Menu from './Header/Menu.astro'
import MenuMobile from "./Header/MenuMobile.svelte"
import MenuMobileButton from './Header/MenuMobileButton.svelte'

import { Icon } from 'astro-icon'
import Search from "../partials/Search.svelte"
import Logo from "./Logo.astro"

// import DesktopMenu from "./Partials/MenuDesktop.svelte"


import { getLanguageFromPath, SITE } from "~/config.mjs";
import {i18n} from "~/translations/i18n.mjs";
const locale = getLanguageFromPath(Astro.url);
const t = i18n[locale]


let pages = [
	{
		title: t["Bibles"],
		href: `/${locale}/bibles`,
		heading: t["bibles_title"],
		//head_icon: IconLibrary,
		nested: [
			{
				title: t["Bibles Online"],
				long: t["bibles_long_cloud"],
				href: `/${locale}/bibles`,
				icon: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" /></svg>`,
				class: "text-white bg-stone-500 border",
			},
			{
				title: t["bibles_listen"],
				long: t["bibles_long_listen"],
				href: `/${locale}#`,
				icon: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z" /></svg>`,
				class: "text-white bg-purple-600 border",
			},
			{
				title: t["bibles_players"],
				long: t["bibles_long_players"],
				href: `/${locale}/bibles/audio/pearls`,
				icon: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M19.114 5.636a9 9 0 010 12.728M16.463 8.288a5.25 5.25 0 010 7.424M6.75 8.25l4.72-4.72a.75.75 0 011.28.53v15.88a.75.75 0 01-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.507-1.938-1.354A9.01 9.01 0 012.25 12c0-.83.112-1.633.322-2.396C2.806 8.756 3.63 8.25 4.51 8.25H6.75z" /></svg>`,
				class: "text-white bg-cyan-600 border",
			},
			{
				title: t["bibles_inscript"],
				long: t["bibles_long_inscript"],
				href: `/${locale}https://inscript.org/`,
				icon: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" /></svg>`,
				class: "text-white bg-primary-400 border",
				target: "_blank",
			},
			{
				title: t["Bibles in Print"],
				long: t["bibles_long_print"],
				href: `/${locale}/bibles/print`,
				icon: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" /></svg>`,
				class: "text-white bg-yellow-500 border",
			},
		],
		floor: [
			{
				title: t["Find a Bible"],
				long: "",
				href: `/${locale}http://find.bible/`,
				icon: 'search',
				class: "text-white bg-teal-400 border-teal-600",
				tag: "Find.Bible",
				target: "_blank",
			},
			{
				title: t["bibles_watch"],
				long: "",
				href: `/${locale}/about/work/research`,
				icon: 'globe',
				class: "text-white bg-red-400 border-red-600",
				tag: "Coming Soon",
			},
		],
	},
	{ title: t["Libraries"], href: `/${locale}/libraries/treasures/`},
	{
		title: t["About"],
		href: `/${locale}/about`,
		heading: t["about_title"],
		//head_icon: "information-circle",
		nested: [
			{
				title: t["about_ministry"],
				long: t["about_long_ministry"],
				href: `/${locale}/about/overview`,
				icon: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z" /></svg>`,
				class: "text-white bg-primary-400 border border-teal-500",
			},
			{
				title: t["Donate"],
				long: t["about_long_donate"],
				href: `/${locale}/about/donate`,
				icon: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" /></svg>`,
				class: "text-white bg-red-500 border border-red-700",
			},

			{
				title: t["about_projects"],
				long: t["about_long_projects"],
				href: `/${locale}/about/work/biblecloud`,
				icon: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M9 6.75V15m6-6v8.25m.503 3.498l4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 00-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0z" /></svg>`,
				class: "text-white bg-sky-800 border",
			},

			{
				title: t["about_news"],
				long: t["about_long_news"],
				href: `/${locale}/about/projects`,
				icon: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 01-2.25 2.25M16.5 7.5V18a2.25 2.25 0 002.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 002.25 2.25h13.5M6 7.5h3v3H6v-3z" /></svg>`,
				class: "text-white bg-emerald-500 border border-stone-400",
			},
			{
				title: t["about_community"],
				long: t["about_long_community"],
				href: `/${locale}/about/community`,
				icon: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" /></svg>`,
				class: "text-white bg-indigo-400",
			},
			{
				title: t["Project Proposals"],
				long: t["about_long_proposals"],
				href: `/${locale}/about/projects/proposals`,
				icon: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" /></svg>`,
				class: "text-white bg-amber-500",
			},
		],
		floor: [
			{
				title: t["about_videos"],
				href: `/${locale}https://vimeo.com/549313705`,
				//icon: "video-camera",
				class: "text-white bg-sky-300 border border-sky-500",
				tag: "Vimeo",
				target: "_blank",
			},
			{
				title: t["Github"],
				long: "",
				href: "https://github.com/digitalbiblesociety",
				//icon: "cog",
				class:
					"text-stone-500 dark:text-gray-200 bg-stone-200 dark:bg-stone-600 border border-stone-400",
				tag: "Repo",
				target: "_blank",
			},
			{
				title: t["about_contact"],
				long: "",
				href: `/${locale}/about/contact`,
				//icon: "mail",
				class: "text-white bg-gray-400 border border-gray-500",
				tag: t["Connecting"],
				target: "",
			},
		],
	},
	{ title: t["Store"], href: `/${locale}/store`},
	{ title: t["Donate"], href: `/${locale}/about/donate/`},
]
---

<header class="bg-primary-900 pb-32 bg-[url('/img/bg-linen.png')] bg-blend-lighten dark:bg-black dark:bg-none">
	<div class="mx-auto max-w-7xl px-4 md:divide-y md:divide-gray-500 dark:md:divide-gray-800">
		<div class="relative flex h-16 justify-between">
			<Logo />
			<Search client:idle />
			<div class="relative z-10 flex items-center justify-between">
				<LanguageSwitcher locales={SITE.locales} />
				<CartButton client:visible />
				<MenuMobileButton client:visible />
			</div>
		</div>
		<nav class="hidden md:flex md:space-x-8 mt-1 justify-center pb-0 md:pt-1">
			{pages.map(page => <Menu {page} />)}
		</nav>
	</div>

	<MenuMobile client:visible {pages} />
</header>
