---
import Layout from "~/layouts/PageLayout.astro";
import { getLanguageFromPath, TRANSLATIONS } from '~/config.mjs';
const language = getLanguageFromPath(Astro.url);

---
<Layout>

<div class="prose mx-auto max-w-prose">

    <nav class="text-center">
        <a href={`/${language}/about`}>{TRANSLATIONS[language].about}</a>
        <a href={`/${language}/about/faq`}>{TRANSLATIONS[language].faq}</a>
        <a href={`/${language}/about/suggestions`}>{TRANSLATIONS[language].suggestions}</a>
        <a href={`/${language}/about/contact`}>{TRANSLATIONS[language].contact}</a>
    </nav>

    <slot />
</div>

</Layout>