---
const { title = '', description = '', canonical} = Astro.props
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<title>{title} | Find.Bible</title>
<meta name="description" content={description} />
{canonical && <link rel="canonical" href={canonical} />}
<meta itemprop="name" content={title} />
<meta itemprop="description" content={description} />

{canonical && <meta property="og:url" content={canonical} />}
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />

{canonical && <meta name="twitter:url" content={canonical} />}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />

<meta name="generator" content={Astro.generator} />
