---
import Layout from "./BaseLayout.astro";
import Banner from '~/components/partials/Banner.astro'

import {i18n} from "~/translations/i18n.mjs";
import { getLanguageFromPath } from "~/config.mjs";
const locale = getLanguageFromPath(Astro.url)
const t = i18n[locale]
const { meta } = Astro.props;

---

<Layout meta={meta}>

<Banner 
	title={t["Overview"]}
	subtitle=""
	breadcrumbs={[
		{ link: `/about/`, title: t['About'] },
		{ link: '#', title: t['Overview'] },
	]}
	subnav={[
		{title:t["Background"],url:`/${locale}/about/overview/`},
		{title:t["Mission"],url:`/${locale}/about/overview/mission`},
		{title:t["History"],url:`/${locale}/about/overview/history`},
		{title:t["Values"],url:`/${locale}/about/overview/values`},
		{title:t["Beliefs"],url:`/${locale}/about/overview/beliefs`},
	]} />

  <main class="prose max-w-prose mx-auto">
    <slot />
  </main>

</Layout>