---
import Layout from "~/layouts/PageLayout.astro";
import Banner from "~/components/partials/Banner.svelte"
import CountryShow from "~/components/partials/CountryShow.svelte";
import { SITE } from "~/config.mjs";
import Datatable from "~/components/datatable/Datatable.svelte";
export async function getStaticPaths() {
  const data = await fetch(`${SITE.apiUrl}/countries.json`).then((response) =>
    response.json()
  );

  return data.map((country) => {
    return {
      params: { id: country.id },
    };
  });
}

const { id } = Astro.params;
const countryResponse = await fetch(`${SITE.apiUrl}/countries/${id}.json`);
const country = await countryResponse.json();
---

<Layout>

<Banner
  background="countries-list"
  translations={{
    title: country.name,
    subtitle: country.region_name,
    breadcrumbs: [
      {
        title: "Home",
        link: `/`,
      },
    ],
  }}
/>
<div class="flex flex-row">
<div class="w-full sm:w-3/5 p-4">
  <Datatable inputData={country.languages} tableType='country_languages' client:only />
</div>
<div class="w-2/5 hidden sm:block">
  <CountryShow country={country} />
</div>
</div>
</Layout>
